.navbar{
  overflow-x: hidden;
  background-color: #0D0431;
}
.navOption{
  color:#0D0431;
}
header{
  overflow-x: hidden;
}
.navigation{

background-color:#0D0431;
color:aliceblue;
position: relative;
top:0;
left:0;
width:100%;
padding:10px 100px;
display:flex;
justify-items: flex-start;
align-items: center;
gap:10%;
}
.logo{
font-family:  sans-serif;
color:white;
font-size: 1.5em;
}
.imgLogo{
max-width: 300%;
height:auto;

}
a {
text-decoration: none;
color: white;


}