

/*campaign css*/

#parazitVid{
  position: absolute;
  width:70%;
  left:15%;
  right:15%;
  opacity: 50%;
top: 0%;
}
.videoContanier{
  
overflow: visible;
}
.meetPasstilliosContainer{

  position: relative;
  margin-left: 5%;
  margin-right: 5%;
margin-top: 20%;
margin-bottom: 20%;
}
.meetPasstilliosTxt{
  position: relative;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 3.1vw;
  line-height: 220%;
}
.centerH{
  position: relative;
display: inline-block;
margin-left: 20%;
margin-right: 20%;
font-size: 5.5vw;
margin-bottom: 0%;
text-align: center;
}
#yourcolorsIMG1 {
    width: 160%;
    position: relative;
    display: inline-block;
    margin-left: -75%;
    margin-top: 20%;
  }
  #useWhatYouCan{
font-size:4vw;
margin-left: 28%;
margin-right: 28%;
text-align: center;
margin-bottom: 0;
  }
  .campaignText {
    position: relative;
    margin-left: 30%;
    margin-right: 15%;
  }
  #campaignP {
    font-size: 3vw;
    margin-left: 25%;
    margin-top: -15%;
    margin-bottom: 40%;
  }
  
#greyCloudOutCanvas {
  position: absolute;
  right: -80vw;
  top: -32%;
  width: 70%;
  z-index: 0;
  opacity: 0.3;
  scale: 0.55;
}
  #campaignH {
    font-size: 7vw;
    line-height: 9.5vw;
    text-align: left;
    margin-bottom: -25%;
    margin-right: 30%;
    margin-left: 27%;
  }
  #yourcolorsWords {
    width: 40%;
    position: absolute;
    display: inline-block;
    left: 22%;
    top: 7%;
    z-index: 10;
  }
  #journeyTxt {
  position: relative;
  margin-left: 20%;
  margin-right: 20%;
  padding-top: 25%;
margin-top: -20%;
}

  .arrowImage {
   
    position: relative;
    width: 100%;
    margin-left: 50%;
 margin-bottom: 0%;
    rotate: 8deg;
 
  }

  .arrowContainer{
    overflow: visible;
    width: 30%;
    margin-bottom: 0%;
  }
  .svgTeam {
    position: relative;
    margin-left: 37%;
    width: 20%;
    margin-top: 20%;
    margin-bottom: 2%;
  }
  #handOfCanvas {
    opacity: 0;
    position: absolute;
    right: 24vw;
    top: -14%;
    width: 20%;
    rotate: -50deg;
    z-index: 1;
  }
  
  #whatIHave {
    position: relative;
    margin-top: 35%;
    text-align: center;
    font-size: 5vw;
    margin-bottom: 10%;
    margin-left: 32%;
    margin-right: 32%;
  }
  #tooFast {
    margin-top: 35%;
    text-align: center;
    font-size: 5vw;
    margin-bottom: 5%;
    margin-top: 60%;
  }
  
  #shit {
    text-align: center;
    font-size: 9vw;
    margin-bottom: 5%;
  }
  
  /*your life as a painting*/
  
  .gridContainer {
    /*  min-height: 100vw;*/
  
    position: relative;
  
    margin-left: 10%;
    margin-right: 10%;
  
    overflow: visible;
    margin-bottom: 50%;
  }
  
  .leftSideHeader {
    text-transform: uppercase;
    position: relative;
  }
  .rightSideText {
    position: relative;
    font-size: 3vw;
    padding-top: 30%;
    line-height: 7vw;
  }
  
  .containerTxt {
    margin-top: 0%;
    overflow: visible;
    width: 100%;
    display: flex;
  }
  
  #life {
    position: relative;
    rotate: -30deg;
    font-size: 15vw;
  }
  .lifeContainer {
    top: -9vw;
    left: 4.6%;
    position: absolute;
  
    overflow: visible;
  }
  #asA {
    opacity: 0;
    top: -8vw;
    right: 35vw;
    position: absolute;
    rotate: 0deg;
    /* color:#00EEB9;*/
  }
  #painting {
    top: 2%;
    right: 5%;
    position: absolute;
    rotate: 0deg;
    font-size: 11vw;
  }
  /*paing not art section*/
  .lifePaintGraphics {
    position: absolute;
    width: 35%;
    right: 0%;
  }
  .lamp {
    opacity: 1;
    /*
    top:-5vw;
    right:-18vw;
    */
    top: -7vw;
    right: -14.9vw;
    position: absolute;
    rotate: 58deg;
    z-index: 1000;
    width: 70%;
  }
  #paintBrush {
    opacity: 1;
    /*right:99%;
    left:-8.2vw;
    top:-11.7%;
    */
    top: -92%;
    left: -8.7vw;
    rotate: -30deg;
    width: 130%;
    position: absolute;
  }
  
  #your {
    color: #00eeb9;
    position: relative;
    /*
    left:3.5%;
    top:5%;
    */
  
    rotate: 60deg;
  }
  #magnet {
    opacity: 0;
    transform-origin: bottom;
    top: -14vw;
    right: 32vw;
    position: absolute;
    rotate: 5deg;
    z-index: 100;
    width: 40%;
  }
  #lampNotOn {
    z-index: 1000;
  }
  #lampOn {
  }
  #paintingImg {
    opacity: 0.2;
    right: 3%;
    top: -40%;
    width: 54%;
  }
  .brushContainer {
    scale: 1.1;
    left: -200%;
    top: 0vw;
    rotate: -90deg;
    position: absolute;
    display: grid;
    grid-template-columns: 100%;
    overflow: visible;
  }





@media screen and (min-width: 1000px) {
  /* Styles for screens with a minimum width of 1200 pixels */
 
  
 
  .rightSideText {
    position: relative;
    font-size: 3.5vw;
    padding-top: 30%;
    line-height: 7vw;
  }
  
  #life {
    position: relative;
    rotate: -30deg;
    font-size: 15vw;
  }
  
  #painting {
    top: 2%;
    right: 5%;
    position: absolute;
    rotate: 0deg;
    font-size: 11vw;
  }
  
  
  
  
  #showMeHeader {
    position: relative;
    margin-top: 20%;
    margin-left: 12%;
    margin-right: 12%;
    text-align: center;
    font-size: 7vw;
    line-height: 12vw;
  }
 
  #oneInOnePainting {
    rotate: 0deg;
    padding-right: 0vw;
    padding-left: 0.5vw;
    margin-top: -10%;
    font-size: 10vw;
  }
  
  #campaignH {
    font-size: 10vh;
    line-height: 12.5vh;
    text-align: left;
    margin-bottom: -40%;
    margin-right: 40%;
    margin-left: 27%;
  }
  
  
  
  
  #whatIHave {
    position: relative;
    margin-top: 35%;
    text-align: center;
    font-size: 5vw;
    margin-bottom: 10%;
    margin-left: 20%;
    margin-right: 20%;
  }
  
  
  #tooFast {
    margin-top: 35%;
    text-align: center;
    font-size: 2vw;
    margin-bottom: 5%;
    margin-top: 10%;
  }
  
  #shit {
    text-align: center;
    font-size: 4vw;
    margin-bottom: 5%;
  }
  
  #crazyProjectH {
    position: relative;
    font-size: 4vw;
    top: -37%;
    right: 0;
    left: -10%;
  }
  
  
  #sharedMemo {
    position: absolute;
    display: inline-block;
    text-align: left;
    top: 10%;
    left: 75%;
    font-size: 5vw;
  }
  
  #atATime {
    position: relative;
    font-size: 5vw;
    margin-top: 63%;
    left: -9%;
  }
  
  #countless {
    position: absolute;
    display: inline-block;
    text-align: left;
    top: -13%;
    left: 25%;
    font-size: 5vw;
  }
  
  #memories {
    position: absolute;
    display: inline-block;
    text-align: left;
    top: 45%;
    left: 25%;
    font-size: 5vw;
  }
 

/*campaign css*/
#yourcolorsIMG1 {
  width: 300%;
  position: relative;
  display: inline-block;
  margin-left: -200%;
  margin-top: 40%;
}
.campaignText {
  position: relative;
  margin-left: 30%;
  margin-right: 15%;
  font-size: 1.7vw;
  line-height: 3vw;
}
#campaignP {
    font-size: 1.7vw;
    line-height: 3vw;
  margin-left: 10%;
  margin-right: 5%;
  margin-top: -25%;
  margin-bottom: 40%;
}
#campaignH {
  font-size: 6vw;
  line-height: 6.5vw;
  text-align: left;
  margin-bottom: -95%;
  margin-right: 0%;

  margin-left: 10%;
}
#yourcolorsWords {
  width: 50%;
  position: absolute;
  display: inline-block;
  left: 5%;
  top: 6.8%;
  z-index: 10;
}


#whatIHave {
  position: relative;
  margin-top: 35%;
  text-align: center;
  font-size: 4vw;
  margin-bottom: 10%;
  margin-left: 15%;
  margin-right: 15%;
}
#tooFast {

  text-align: center;
  font-size: 4vw;
  margin-bottom: 10%;
  margin-top: 60%;

}

#shit {
  text-align: center;
  font-size: 6vw;
  margin-bottom: 10%;
}

/*your life as a painting*/

.gridContainer {
  /*  min-height: 100vw;*/

  position: relative;
width: 50%;
  margin-left: 25%;
  margin-right: 25%;

  overflow: visible;
  margin-bottom: 50%;
}

.leftSideHeader {
  text-transform: uppercase;
  position: relative;
}
.rightSideText {
  position: relative;
  margin-left: 10%;
  padding-top: 40%;
  font-size: 1.6vw; 
  line-height: 4vw;
}

.containerTxt {
  margin-top: 0%;
  overflow: visible;
  width: 100%;
  display: flex;
}

#life {
  position: relative;
  rotate: -30deg;
  font-size: 13vw;
}
.lifeContainer {
  top: -12%;
  left: 4vw;
  position: absolute;

  overflow: visible;
}
#asA {
  opacity: 0;
  top: -7vw;
  right: 31vw;
  position: absolute;
  rotate: 0deg;
  font-size: 4.5vw;
  /* color:#00EEB9;*/
}
#painting {
  top: 6%;
  right: 0%;
  position: absolute;
  rotate: 0deg;
  font-size: 7.1vw;
}
/*paing not art section*/
.lifePaintGraphics {
  position: absolute;
  width: 35%;
  right: 0%;
}
.lamp {
  opacity: 1;
  /*
  top:-5vw;
  right:-18vw;
  */
  top: -19.6%;
  right: -12vw;
  position: absolute;
  rotate: 58deg;
  z-index: 1000;
  width: 70%;
}
#paintBrush {
  opacity: 1;
  /*right:99%;
  left:-8.2vw;
  top:-11.7%;
  */
  top: -92%;
  left: -8.7vw;
  rotate: -30deg;
  width: 130%;
  position: absolute;
}

#your {
  color: #00eeb9;
  position: relative;
  /*
  left:3.5%;
  top:5%;
  */

  rotate: 60deg;
}
#magnet {
  opacity: 0;
  transform-origin: bottom;
  top: -14vw;
  right: 32vw;
  position: absolute;
  rotate: 5deg;
  z-index: 100;
  width: 40%;
}
#lampNotOn {
  z-index: 1000;
}
#lampOn {
}
#paintingImg {
  opacity: 0.2;
  right: -5%;
  top: -35%;
  width: 55%;
}

.brushContainer {
  scale: 1.1;
  rotate: -90deg;
  position: absolute;
  top:0%;
  left:-200%;
  display: grid;
  grid-template-columns: 100%;
  overflow: visible;
}
#wtf {
    opacity: 0;
    position: absolute;
    left: -90%;
    width: 100%;
    top: -30%;
  }

  .yourColorsDiv{
    margin-left:25% ;
    margin-right:25% ;
    width: 50%;
    overflow: visible;
  }
  .wtfContainer{
    position: relative;
    width: 60%;
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 60%;
    margin-bottom: 110%;
    overflow: visible;
  }
  #journeyTxt {
    position: relative;
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 25%;
  margin-top: -20%;
  }
  .tooFastH {
    position: relative;
    margin-left: 0%;
    margin-right:0%;
    text-align: center;
    font-size: 1.8vw;

    margin-top: 7%;
  }
  #handOfCanvas {
    opacity: 0;
    position: absolute;
    right: 6vw;
    top: -14%;
    width: 20%;
    rotate: -50deg;
    z-index: 1;
  }
  
#greyCloudOutCanvas {
  position: absolute;
  right: -90vw;
  top: -50%;
  width: 70%;
  z-index: 0;
  opacity: 0.3;
  scale: 0.55;
}
.meetPasstilliosTxt{
  position: relative;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 1.8vw;
  line-height: 180%;
}
#useWhatYouCan{
  font-size:3.5vw;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 0;
    }

}
