.screen-size-hint {
    position: fixed;
    overflow: visible;
    bottom: 0;
    right: 0;
    background-color: #ffffff00; /* Add your preferred background color */
 width:30%;
 
    z-index: 100000000; /* border: 1px solid  #00EEB9 ; Add a z-index to ensure it appears above other elements */
    cursor: pointer;
  }
  
  .close-button {
    margin-left: 10px; /* Add space between the text and the button */
  }

  /*#f90e9b,#5a00b4,60%,#00EEB9*/
  .hintP{
    position: absolute;
    color: white;
    text-align: justify;
   font-size: .7vw;
line-height: 1.5vw;
left:15%;
right:20%;
top:95%;
  }
  .hintH{
   padding-top: -23%;
   margin-left:15%;
  
   margin-right:40%;
    position: relative;
    text-align: left;
    line-height: 3vw;
    font-size: 1.5vw;
   color: #00EEB9 ;

  }
  .hintContainer{
    position: relative;
    margin-right: 0%;
    margin-left: 10%;
    overflow: visible;
  }
  .hintImg{
   position: absolute;
   top:-60%;
   right: -2%;
   width:70%
  }
  .close-button{
  
cursor: pointer;
    position: absolute;
    font-weight: 200;
    font-size: 1.2vw;
position: absolute;
background-color: #00EEB9;
margin-top: -2.5%;
margin-right: -2%;
padding-top: 7%;
padding-bottom: 6%;
padding-right: 2%;
padding-left: 2%;
right: 2%;
top: 110%;
display: inline-block;
border: 8px solid rgb(255, 0, 204);
border-right-color: #eec200 ;

border-radius: 3px;
border-top-left-radius: 70%;
  }